#databaseDiv{
    width: 90%;
}

#databaseLogo {
    float: right;
    height: 200px;
    width: 200px;
}

.grdContent {
    width: 80%;
    border: solid 2px black;
    min-width: 80%;
}

.header {
    background-color: #646464;
    font-family: Arial;
    color: White;
    border: none 0px transparent;
    height: 25px;
    text-align: center;
    font-size: 16px;
}

.rows {
    background-color: #fff;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    min-height: 25px;
    text-align: left;
    border: none 0px transparent;
}

.rows:hover {
    background-color: #ff8000;
    font-family: Arial;
    color: #fff;
    text-align: left;
}

.selectedrow {
    background-color: #ff8000;
    font-family: Arial;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.mygrdContent td {
    padding: 5px;
}

.mygrdContent th {
    padding: 5px;
}